# dependencies
/node_modules

# Next.js build output
/.next/
/out/
/build

# Functions or serverless folders (Netlify, Vercel, etc.)
/functions

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*
!.env.example

# Vercel folder
.vercel

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Misc
*.local
